@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@500;800&display=swap');

body {
    position: relative;
    color: #001028;
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

h2 {
    color: #222323;
    font-size: 2.4em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 20px 0;
}

.form-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 30px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #9CA3AF;
}

.form-container button {
    background-color: #59b25c;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

