<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <title>Sąskaita INVOICE_ID </title>
      <link rel="stylesheet" type="text/css" href="./style.css">
   </head>
   <body>
      <header class="clearfix">
         <div id="logo">
            <img src="../static/logo1.png" alt = "logo">
         </div>
         <h1>PVM Sąskaita faktūra Nr.  INVOICE_ID </h1>
         <div id="project">
            <div> CLIENT_NAME </div>
            <div>Įmonės kodas: CLIENT_REG_CODE </div>
            <div>PVM Kodas: CLIENT_VAT </div>
            <div> $client->address </div>
            <div>Išrašymo data: <strong> INVOICE_DATE </strong></div>
            <div>Apmokėti iki: <strong> DUE_DATE </strong></div>
         </div>
         <div id="company" class="clearfix">
            <div> COMPANY_NAME </div>
            <div>Įmonės kodas: CLIENT_REG_CODE </div>
            <div>PVM Kodas: CLIENT_VAT </div>
            <div> COMPANY_ADRESS </div>
            <div>Banko sąskaitos nr. <strong> COMPANY_BANK_ACCOUNT </strong></div>
            <div><a href="tel:COMPANY_PHONE "> COMPANY_PHONE </a> <a href="mailto:COMPANY_EMAIL"> COMPANY_EMAIL </a></div>
            <div>Pagal pasiūlymą:<strong> PAS- INVOICE_OFFER_ID </strong></div>
         </div>
      </header>
      <main>
         <table>
            <thead>
               <tr>
                  <th style="max-width: 1px;">Eil. Nr.</th>
                  <th class="desc">Pavadinimas</th>
                  <th>Mato vnt.</th>
                  <th>Kiekis</th>
                  <th>Kaina be PVM €</th>
                  <th>Suma be PVM €</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td class="service"> LOOP_INDEX </td>
                  <td class="desc"> PRODUCT_NAME </td>
                  <td class="unit">vnt.</td>
                  <td class="qty"> PRODUCT_QUANT </td>
                  <td class="subTotal"> PRODUCT_SUBTOTAL </td>
                  <td class="total"> PRODUCT_TOTAL </td>
               </tr>
               <tr>
                  <td class="service">1</td>
                  <td class="desc"> INVOICE_NAME </td>
                  <td class="unit">vnt.</td>
                  <td class="qty">1</td>
                  <td class="subTotal"> TOTAL </td>
                  <td class="total"> TOTAL </td>
               </tr>
               <tr>
                  <td class="grand total" colspan="5">Be PVM</td>
                  <td class="grand total"> TOTAL </td>
               </tr>
               <tr>
                  <td colspan="5">PVM 21%</td>
                  <td class="total"> TOTAL </td>
               </tr>
               <tr>
                  <td colspan="5" class="grand total">Suma su PVM</td>
                  <td class="grand total"> GRAND_TOTAL</td>
               </tr>
               <tr>
                  <td colspan="6"><strong> WORDS </strong></td>
               </tr>
            </tbody>
         </table>
      </main>
   </body>
</html>